@font-face {
  font-family: myFirstFont;
  src: url(./Moon\ Light.otf);
}

body {
  font-family: myFirstFont;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  border: 10px solid #2d2f31;
}
